:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1b1b1b;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
}

body {
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



nav {
    flex-shrink: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    max-width: 13vw;
    height: 100vh;
    padding-right: 2em;
}

.file {
    display: flex;
    flex-direction: row;
    padding-inline: 1em;
    width: 100%;
    padding-block: 0.5em;
    border-bottom: 1px solid #37393b;
}

.file>.name {
    font-weight: bold;
}

.file>.size {
    margin-left: auto;
}

.file>.date {
    margin-left: auto;
}

.file>.deduped {
    margin-left: auto;
}

.file>.dropdown>.options {
    margin-left: 5em;
    cursor: pointer;
}


nav>.dropdown>button {
    box-shadow: 0 2px 1px 0 #313134;
    background-color: #37393b;
    border: none;
    margin-inline: 1.5em 0;
    cursor: pointer;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 1.5em;
    padding-block: 1em;
}




nav #title {
    margin-block: 1.2em 1.5em;
}

nav div {
    display: flex;
    font-size: 0.8em;
    flex-direction: row;
}

nav img {
    margin: 1.5em;
}

nav .routes {
    margin-bottom: 0.5em;
    padding: 0.1em;
    margin-left: 1.3em;
}

nav>#progressbar {
    background-color: #37393b;
    border-radius: 5px;
    margin-inline: 1.6em 0.3em;
    margin-top: 1em;

}

nav>#progressbar>div {
    background-color: #a8c7fa;
    width: 70%;
    /* Adjust with JavaScript */
    height: 4px;
    border-radius: 10px;
}

nav>.storage {
    margin-top: 0.5em;
    font-size: 0.9em;
    margin-left: 1em;
    text-align: center;
    /*TODO!*color: rgb(55, 59, 58);*!*/
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}


nav>.dropdown {

    margin-bottom: 2.5em;
    padding: 0;
    min-width: 100%;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-left: 2em;
  display: none;
  position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    min-width: 20em;
    min-height: 10em;
    margin-top: 1em;
  background-color: #1e1f20;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content > div {
  padding-inline: 12px;
    padding-block: 0.325em;
    margin-block: 0.25em;
  cursor: pointer;
  color: #ededed;
  font-size: 0.95rem;
  white-space: nowrap;

}

.dropdown-content > #new_folder {
    border-bottom: 1px solid #444746;
}

.dropdown-content > #file_upload {
    margin-top: 0.5em;
}

.dropdown-content > div:hover {
  background-color: #4a4c4e;
}

.dropdown-content.show {
  display: block;
}


.options-dropdown-content {
    margin-right: 2em;
  display: none;
  position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    min-width: 10em;
    min-height: 8em;
    margin-top: 1em;
  background-color: #1e1f20;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.options-dropdown-content > div {
  padding-inline: 12px;
    padding-block: 0.325em;
    margin-block: 0.25em;
  cursor: pointer;
  color: #ededed;
  font-size: 0.95rem;
  white-space: nowrap;

}

.dropdown-content > #new_folder {
    border-bottom: 1px solid #444746;
}

.dropdown-content > #file_upload {
    margin-top: 0.5em;
}

.options-dropdown-content > div:hover {
  background-color: #4a4c4e;
}

.options-dropdown-content.show {
  display: block;
}



.dropdown>input {
    display: none;
}


.file>.dropdown {

    padding: 0;
  position: relative;
  display: inline-block;
}

.top {
    flex-shrink: 0;
    width: 100%;
    height: 3.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
}

.top>img {
    margin-left: auto;
    margin-right: 1em;
}

main {
    flex: 1;
    overflow: auto;
}